<article class="card">
  <div class="card-info-hover">
    <i class="bi bi-heart"></i>
    <div class="card-clock-info">
      <i class="bi bi-clock"></i>
      <span class="card-time">{{ date }}</span>
    </div>
    <div class="goto">
      <button> <a href='/post/{{ id }}'>checkout post</a></button>
    </div>
  </div>
  <div class="card-img">
    <img src="{{ image }}" />
  </div>
  <div class="card-img-hover">
    <img src="{{ image }}" />
  </div>
  <div class="card-info">
    <span class="card-category">{{ band }}</span>
    <h3 class="card-title">{{ event_title }}</h3>
    <span class="card-by">at <a href="#" class="card-author" title="author">{{ venue }}</a></span>
  </div>
</article>

